body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.upper{
    background-color: aqua;
    width: 45%;
    text-align: center;
    padding: 10px;
}

.lower{
    width: fit-content;
}

h1, h2, h3, h5{
    color: navy;
}

h4{
    color: blueviolet;
}